*{ 
    margin: 0;
    font-family:Arial;
    border: border-box;
    /* border size will included in div */
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box-1 */
.nav_logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 60px;
    width: 100%;
  background-size: cover;
}
.border{
    border: 1.5px solid transparent;
} 
.border:hover{
    border: 1.5px solid white;
} 
/* box-2 */
.add-icon{
    display: flex;
    align-items: center;
}
.p_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.p_secound{
    font-size: 1 rem;
    margin-left: 4px;
}
/* box-3*/
.nav-search:hover{
    border: 2px solid orange;
}
.nav-search{
    display: flex;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    border: none;
    width: 100%;
    font-size: 1 rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 213, 0);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* box-4 */
span{
  font-size:0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box-5 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* pannel */
.pannel{
   height: 40px;
   background-color: #222f3d;
   display: flex;
   color: white;
   align-items: center;
   justify-content: space-evenly; 
}
.pannel-option p{
    display: inline;
    margin: 15px;
}
.pannel-option{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size:0.9rem;
    font-weight:700;
}
/* hero section */ 

.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom:25px ;
}
.hero-msg a{
    color: #007185;
}

/* display item section  */
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px ;
}
.box-img{
    height: 350px;
    background-size: cover;
    margin-top: 1 rem;
    margin-bottom: 1 rem;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
}
h2{
    text-align:center ;
}
.box-content a{
    text-decoration: none;
}
/* footer */
.footer{
    margin-top: 15px;
}
.footer-pannel1{
    background-color:#37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:10px ;
}
ul a{
    display: block;
    text-decoration: none;
    color:#dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
/* footer pannel 3 */
.foot-pannel-3{
    background-color:#222f3d;
    border-top: 0.5px solid white;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}